@import "tailwindcss";

:root {
    --bg-dark: theme(colors.slate.700);
    --bg-medium: theme(colors.slate.500);
    --bg-light: theme(colors.slate.100);
    --text-dark: theme(colors.slate.700);
    --border-dark: theme(colors.slate.700);
    --border-medium: theme(colors.slate.500);
}

.dark {
    --bg-dark: theme(colors.cyan.700);
    --bg-medium: theme(colors.cyan.500);
    --bg-light: theme(colors.cyan.100);
    --text-dark: theme(colors.cyan.700);
    --border-dark: theme(colors.cyan.700);
    --border-medium: theme(colors.cyan.500);
}

/* utilidades personalizadas */
.bg-dark {
    background-color: var(--bg-dark);
}
.bg-medium {
    background-color: var(--bg-medium);
}
.bg-light {
    background-color: var(--bg-light);
}
.text-dark {
    color: var(--text-dark);
}
.border-dark {
    border-color: var(--border-dark);
}
.border-medium {
    border-color: var(--border-medium);
}